<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- Use "development" for local/TestFlight builds, "production" for App Store. -->
	<!-- Xcode will set this automatically when the Push Notifications capability  -->
	<!-- is enabled in the Signing & Capabilities tab.                             -->
	<key>aps-environment</key>
	<string>development</string>
</dict>
</plist>
